*.js
!jest.config.js
*.d.ts
node_modules/

tsconfig.json
.jsii
dist/

# CDK asset staging directory
.cdk.staging
cdk.out

# TypeScript cache
*.tsbuildinfo

# dotenv environment variables file
.env
.env.test

.idea/
.vscode/
.DS_Store
